# Auto detect text files and perform LF normalization
* text=auto

# Language detection
*.svelte linguist-language=Svelte

# Mark global.css as vendored to exclude it from language stats
src/styles/global.css linguist-vendored
src/styles/figma-development-theme.css linguist-vendored