
  .container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .info {
    font-size: var(--font-size-xsmall);
    color: var(--figma-color-text-tertiary);
    margin-top: 8px;
  }
