
  .container {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .info {
    font-size: var(--font-size-xsmall);
    color: var(--figma-color-text-tertiary);
    margin-top: 8px;
  }
#selection-message {
    color: var(--figma-color-text-secondary);
    font-size: var(--font-size-xsmall);
    border:1px solid var(--figma-color-border);
    padding: var(--size-xxsmall); 
    border-radius: 4px;
    text-align: center;
    background-color: var(--figma-color-bg-secondary);
    margin: 0px var(--size-xxsmall) 0px var(--size-xxsmall);
  }
  button {
    width: 100%;
    justify-content: center;
  }   